

*{
    margin:0;
    padding:0;

}

.flex {
    display:flex;
    align-items: center;
    justify-content:space-between;
    gap:1.5rem;
}

.flex-start{
    align-items:flex-start;
}

.container {
   width:35rem;
    margin:0 auto;

}

.nav-bar{
    background-color: rgb(204,204,204);
    padding:.5rem 2rem;
    margin-bottom: 1.5rem;

}


input{
    width:200px;
    border-style: solid; 
    border-width:3px;
    border-color: black;
}
button{
    width:50px;
    background-color:blue;
    color: white;
    border-color: black;
    box-shadow: 2px 2px black;
    
}

main{
    flex:2.5;
}

aside{

    flex:1;
}


.card {
    margin-bottom:1.5rem;
    border:2px solid black;
    padding:20px;
}

.left {
    flex:1
}
.right {
    flex:2;
}


.like-button{
    background-color: rgb(255,217,102);
    color: black;
    width:5rem;
    height:1
}

.aside-content{
    font-size:larger
}

.add-definition {
    background-color: rgb(147,196,125);
    color:black;
    width:9rem;
}
